<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Services and Features provided by HomeAR">
  <meta name="author" content="">
  <title> Cover Page | Landing Page of HomeAR</title>
  <link type="text/css" href="style.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
  <link rel="stylesheet" href="{{ url_for('static',filename='css/firstpage.css') }} ">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <script src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<style>
.navbar .navbar-brand{
	color:#FFFFFF;
	font-weight:bold;	
  font-size: 1.5em;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
h3.register{
	padding:15px;
	font-size:28px;
}
h4.login {
	padding:25px;
	font-size:28px;
}
.dropdown-menu {
background-color:black;	
}
 .dropdown-menu > li>  a.board {
		
	color:#FFFFFF;
   font-weight:bold;
	font-size: 1.2em;

}
 .dropdown-menu > li>  a.board:hover , a.board.active {
    color: #990000;
    background-color: #fed136;
 }
  #errorBox{
 color:#F00;
 font-family: georgia;
 font-size:20px;
 }
  #errorBox1{
  color:#F00;
 font-family: georgia;
 font-size:20px;
 }
  #errorBox2{
  color:#F00;
 font-family: georgia;
 font-size:20px;
 }
  #errorBox3{
  color:#F00;
 font-family: georgia;
 font-size:20px;
 }
   #email_validation {
   color:#F00;
 font-family: georgia;
 font-size:20px;
 }
 #pswd_validation{
  color:#F00;
 font-family: georgia;
 font-size:20px;
 }
 .popup .modal-dialog {
    min-width:60%;
 }
 #loginid {
 	text-align:center;
 	padding:10px;
 }

</style>
<script type="text/javascript">
var deploymentLink = "http://localhost:5000/";

function signup() {
	if((document.getElementById("Email").value) == "") {
		
		document.getElementById("errorBox").innerHTML="Enter email";
		 return false;
	} 
	else {
		document.getElementById("errorBox").innerHTML="";
	}
	
	re = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
	if(!re.test(document.getElementById("Email").value)) {
		
			document.getElementById("errorBox").innerHTML="Enter the valid Email";
			return false;
	}
	else {
		 document.getElementById("errorBox").innerHTML="";
	 }
	 
	if((document.getElementById("Uname").value) == "") {
		document.getElementById("errorBox1").innerHTML="Enter username";
		return false;
	}
	else {
			document.getElementById("errorBox1").innerHTML="";
	}
	re = /^\w+$/;
	if(!re.test(document.getElementById("Uname").value)) {
		document.getElementById("errorBox1").innerHTML="Username must contain only letters, numbers and underscores!";
		return false;
	}
	else {
	    	document.getElementById("errorBox1").innerHTML="";
	    }
	    
	    var p1 = document.getElementById("Password");
	    var p2 = document.getElementById("Confirm_Password");
	   	   
	        if(p1.value.length < 6) {
	        	
	    		document.getElementById("errorBox2").innerHTML="Password should be minimum of 6 characters";
	          return false;
	        }
	          re = /[0-9]/;
	          if(!re.test(p1.value)) {
	        	
	      		document.getElementById("errorBox2").innerHTML="Password must contain at least one number (0-9)!";
	            return false;
	          }
	          re = /[a-z]/;
	          if(!re.test(p1.value)) {
	        	 
	        	document.getElementById("errorBox2").innerHTML="Password must contain at least one lowercase letter (a-z)!" ;
	           
	            return false;
	          }
	          re = /[A-Z]/;
	          if(!re.test(p1.value)) {
	        	
	          	document.getElementById("errorBox2").innerHTML="Password must contain at least one uppercase letter (A-Z)!" ;
	            
	            return false;
	          }
	          if(p1.value != p2.value)
	        {

            	document.getElementById("errorBox3").innerHTML="Passwords do not match!";
            	return false;
	        	
	        }

	        var index_picked = document.getElementById("select").selectedIndex;
	      	var type_picked = document.getElementById("select").options[index_picked].value;

	      	alert("type_picked: " + type_picked);

	      	registerCall(type_picked);	          
}

function registerCall(type_picked) {
	var ajaxRequest;  // The variable that makes Ajax possible!

	try {
	     // Opera 8.0+, Firefox, Safari
	     ajaxRequest = new XMLHttpRequest();
	 }
	 catch(e) {
	    // Internet Explorer Browsers
	    try{
	    	ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
	    }
	    catch(e) {
	    	try{
	    		ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
	    	}
	    	catch(e) {
	    		alert("Your browser broke!");
	    		return false;
	    	}
	    }
	}

	// Create a function that will receive data 
	// sent from the server and will update
	// div section in the same page.
	ajaxRequest.onreadystatechange = function() {
		if(ajaxRequest.readyState == 4) {

	    // alert(ajaxRequest.responseText);

		if(!((ajaxRequest.responseText).indexOf("Error:") > -1))
		{
	       	if(type_picked == "yes")
	      		window.location.href= "/retailerDashboard";
	      	else if (type_picked == "no")
	      			window.location.href= "/customerDashboard";
	      	else 
	      		window.location.href="";
	    }
	    else
	    	document.getElementById("errorBox").innerHTML= ajaxRequest.responseText;
	}
}
	
	var dataString = "Email=" + document.getElementById("Email").value + "&Uname=" + document.getElementById("Uname").value
			+ "&Password=" + document.getElementById("Password").value + "&IsRetailer=" + type_picked;
	ajaxRequest.open("POST", "/register" , true);
	ajaxRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	ajaxRequest.send(dataString);

}

function login_user() {

	if((document.getElementById("Email_Id").value) == "") {
		document.getElementById("email_validation").innerHTML="Enter email";
		return false;
	} 	
	 
	var p1 = document.getElementById("Password_Valid");	 
	if(p1.value== ""){
		document.getElementById("pswd_validation").innerHTML="Enter Password";
		return false;
	}


	var ajaxRequest;  // The variable that makes Ajax possible!

	try {
	     // Opera 8.0+, Firefox, Safari
	     ajaxRequest = new XMLHttpRequest();
	 }
	 catch(e) {
	    // Internet Explorer Browsers
	    try{
	    	ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
	    }
	    catch(e) {
	    	try{
	    		ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
	    	}
	    	catch(e) {
	    		alert("Your browser broke!");
	    		return false;
	    	}
	    }
	}
	 
	// Create a function that will receive data 
	// sent from the server and will update
	// div section in the same page.
	ajaxRequest.onreadystatechange = function() {
		if(ajaxRequest.readyState == 4) {
        var textResponse= ajaxRequest.responseText;
	    //alert("Ajax Response: "+ajaxRequest.responseText);

	    if(!(textResponse.indexOf("Error:") > -1))
	    {
	    	//No error. Valid Email Id and Password
	    	//Checking for Customer or Retailer to take them to appropriate dashboards
	    	if(textResponse.indexOf("Retailer")> -1)
	    	{
	    		//Retailer Logged In
	    		window.location.href = "/retailerDashboard";
	    	}
	    	else
	    	{
	    		//Customer Logged In
	    		window.location.href = "/customerDashboard";
	    	}
	    }
	    else
	    	document.getElementById("pswd_validation").innerHTML= textResponse;
		}
		
	}
	
	var dataString = "Email=" + document.getElementById("Email_Id").value + "&Password=" + document.getElementById("Password_Valid").value;
	ajaxRequest.open("POST", "/login" , true);
	ajaxRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded;application/json");
	//ajaxRequest.setRequestHeader("dataType","html");
	ajaxRequest.send(dataString);

	return true;
}

</script>

<body>
 <!-- Header starts -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="http://localhost:8080/Project_297/index.html"
					class="navbar-brand">HomeAR</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse"
					data-target="#navbar-main">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="head" href="/">Home</a></li>
					<li><a class="head" href="#" data-toggle="modal"
						data-target="#myModal2">Register/Login </a></li>
					
					<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						
						
						<div class="popup">
					
							<div class="modal-dialog">
							
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
										</button>
									</div>
									<div class="modal-body">
										<section id="window">
											<div class="container">
												<form>
													<div class="row">
														<div class="col-sm-3">
															<h3 class="register">Register</h3>
															<div class="form-group">
																<select class="form-control" id="select">
																	<option value="one">--Select a user type--</option>
																	<option value="yes" id="retailer">Retailer</option>
																	<option value="no" id="customer">Customer</option>
																</select>
															</div>
															<div id="errorBox"></div>
															<div class="form-group">
																Email<input type="email" class="form-control"
																	placeholder="abc@example.com" id="Email">
															</div>
															<div id="errorBox1"></div>
															<div class="form-group">
																Username<input type="text" class="form-control"
																	placeholder="Your name" id="Uname">
															</div>
															<div id="errorBox2"></div>
															<div class="form-group">
																Password<input type="password" class="form-control"
																	placeholder="Enter Password" id="Password">
															</div>
															<div id="errorBox3"></div>
															<div class="form-group">
																Re-Password<input type="password" class="form-control"
																	placeholder="Enter the same Password *" id="Confirm_Password">
															</div>
															<input type="button" class="btn btn-primary"  value= "Register" onclick="signup()">
															<input type="reset" class="btn btn-default" value="Cancel" onClick="window.location.reload()">
														</div>

														<div class="col-sm-3 col-sm-offset-1">
															<h4 class="login">Login</h4>
															<div id="email_validation"></div>
															<div class="form-group">
																<div class="form-group">
																Email<input type="email" class="form-control"
																	placeholder="abc@example.com" id="Email_Id">
															</div>
															<div id="pswd_validation"></div>
															<div class="form-group">
																Password<input type="password" class="form-control"
																	placeholder="Enter Password" id="Password_Valid">
															</div>
															<input type="button" class="btn btn-primary" value="Login" onclick="login_user()" id="loginid" >
															<button type="reset" class="btn btn-default">Cancel</button>
														</div>
													</div>
												</form>
											</div>
										</section>
									</div>
									<div class="modal-footer"></div>
								</div>
							</div>
							
						</div>
						
					</div>	
					
					<li role="presentation" class="dropdown head">
					<a
						class="dropdown-toggle head" data-toggle="dropdown" href="#"
						role="button" aria-expanded="false"> Dashboards <span
							class="caret head"></span>
					</a>
						<ul class="dropdown-menu head" role="menu">
							<li><a class="board" href="/customerDashboard" >Customer</a></li>
							<li><a class="board" href="/retailerDashboard">Retailer</a></li>
						</ul>
					</li>
					<li><a class="head" href="/contact">Contact us</a></li>
					
				</ul>
			</div>
			<!-- /.container -->
		</div>
	</div>
	<!-- Header closed -->


<!-- Carousel starts-->  

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->

  <div class="carousel-inner">

    <div class="item active" >
      <img src="images/image1.jpg">
      
    </div>
    
    <div class="item">
      <img src="images/mobile.jpg">

    </div>

    <div class="item">
      <img src="images/image3.jpg">

    </div>

  </div> 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic"  data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic"  data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><!-- Carousel -->
<!--Carousel closed --> 



<!--Image thumbnail starts --> 
<section id="feature" >
 <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Services</h2>

    </div>
  </div>



  <div class="row">

   <div class="col-md-4" data-wow-duration="1000ms" data-wow-delay="600ms" >

    <center><img src="images/augmented.jpg"  class="img-circle" style="height:200px;width:200px; border: 2px solid black;"></center>

    <h3 class="service text-center"> Augmented Reality </h3>
  </div>
  <div class="col-md-4" data-wow-duration="1000ms" data-wow-delay="600ms">

    <center><img src="images/android.jpg"  class="img-circle" style="height:200px;width:200px; border: 2px solid black;"></center>
    <h3 class="service text-center">Mobile Application</h3>
  </div>
  <div class="col-md-4" data-wow-duration="1000ms" data-wow-delay="600ms">

    <center><img src="images/product.jpg"  class="img-circle" style="height:200px;width:200px; border: 2px solid black;"> </center>
    <h3 class="service text-center"> Products</h3>
  </div>
</div></div></section>
<!-- Image thumbnail closed --> <br>


<!--Footer starts--> 
<footer>
	<div class="container-fluid" style="background:black;">
		
   <div class="col-lg-12 text-center">
    <h4 class="contact"> CONTACT US </h4>
  </div>

  <form name="sentMessage" id="contactForm" >
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Name *" id="name1"> 

        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Your Email *" id="email1">

        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Your Phone *" id="phone">

        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <textarea class="form-control" placeholder="Your Message *" id="message"></textarea>

        </div>
      </div>
    </div>
    <div class="button">
      <div class="col-md-12 text-center">

        <button type="submit" class="btn btn-xl">Send Message</button>
      </div>
    </div>

  </form>


  <p style="text-align:center;margin-top:150px;color:#fed136;">Copy rights- HomeAR inc 2014</p>

</footer>
<!-- Footer closed -->


</body>


</html>